[submodule "external/spelling"]
	path = external/spelling
	url = https://github.com/eitsl/spelling.git
[submodule "external/lexicon"]
	path = external/lexicon
	url = https://github.com/eitsl/lexicon.git
[submodule "external/pydiomatic"]
	path = external/pydiomatic
	url = https://github.com/eitsl/pydiomatic.git
